<div class="container mt-3">
  <div class="col-sm-6">
    <h2>Holiday</h2>
    <p>Holiday details</p>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>S.NO.</th>
          <th>Date</th>
          <th>Days</th>
          <th>Occassion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>01/01/2022</td>
          <td>Saturday</td>
          <td>New Year</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>26/01/2022</td>
          <td>Wednesday</td>
          <td>Republic Day</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>18/03/2022</td>
          <td>Friday</td>
          <td>Holi</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>10/04/2022</td>
          <td>Sunday</td>
          <td>Ram Navami</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>11/08/2022</td>
          <td>Thursday</td>
          <td>Raksha Bandhan</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>15/08/2022</td>
          <td>Monday</td>
          <td>Independence Day</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>31/08/2022</td>
          <td>Wednesday</td>
          <td>Ganesh Chaturthi</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>02/10/2022</td>
          <td>Sunday</td>
          <td>Gandhi Jayanti</td>
        </tr>
        <tr>
          <td>9.</td>
          <td>05/10/2022</td>
          <td>Wednesday</td>
          <td>Dussehra</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>24/10/2022</td>
          <td>Monday</td>
          <td>Diwali</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>